.form-container {
	margin: 30% auto;
	display: block;
	width: 500px;
	text-align: center;
}
.window-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.window {
	width: 400px;
	min-height: 200px;
}
.window:nth-child(2) {
	margin: 2rem;
}
