name: Dicebl CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Cache
        uses: actions/cache@v3.0.10
        with:
          path: ./dist
          key: dist
      - uses: actions/checkout@v3
      - name: .NET build
        uses: actions/setup-dotnet@v3.0.0
      - run: |
          dotnet restore "src/diceclub-server/DiceClub.Web/DiceClub.Web.csproj"
          dotnet build "src/diceclub-server/DiceClub.Web/DiceClub.Web.csproj" -c Release -o ./build
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: |
          mkdir dist
          cd src/diceclub-app/
          npm i
          npx vite build --outDir ../../build/wwwroot
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_KEY }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: tgiachi/dice-club:latest
